


 <% obj.each do |comment| %>
 



<p><%= comment.comment %>

<<<<<<< HEAD
Commented by  User Id<%= comment.user.username %>
=======
Commented by  User <%= comment.user.username %>
>>>>>>> 40b5d358eed49f362d44871baafb3f25321a8c4a
</p>



<<<<<<< HEAD
</tr>
=======

>>>>>>> 40b5d358eed49f362d44871baafb3f25321a8c4a

<% end %>